
h1
{
    text-transform: uppercase;
}
nav ul li.active a {
    color:rgba(121, 114, 114, 0.958);
    font-weight: bold;
}
header nav ul{
    display: flex;
    justify-content: center;
    gap: 2em;   
    list-style: none;
}
header nav ul li a{
    font-size: 1.5em;
    text-decoration: none;
}
main div#connexion,
div#contact,
div#inscription,
div#profil{ 
    background-color: aquamarine;

    width: 300px;

    margin: auto;
    padding: 20px;
      
    border: 1.5px solid black;
    border-radius: 10px;
}
main div#accueil{
    text-align: center;
    padding-left: none;
}
footer{
    margin-top: 30px;
    padding-left: 40em;
}
