
h1
{
    text-transform: uppercase;
}
nav ul li.active a {
    color:rgba(121, 114, 114, 0.958);
    font-weight: bold;
    text-decoration: none;
}
header nav ul{
    display: flex;
    justify-content: center;
    gap: 2em;   
    list-style: none;
}
header nav ul li a{
    font-size: 1.5em;
}

